<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
</head>
<div th:fragment="despesaFixa" class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table
				class="table table-sm table-striped table-hover table-bordered table-responsive">
				<thead>
					<tr>
						<th scope="col">Despesa</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="tabelaDespesa">
					<tr th:each="despesa : ${despesasFixas}">
						<input th:type="hidden" th:id="'despesaId_'+${despesa.id}" th:value="${despesa.id}" />
						<td class="table-row"
							th:onclick="|atualizaPagina('${despesa.id}')|"
							th:id="'despesaNome_'+${despesa.id}" th:text="${despesa.nome}"></td>
						<td>
							<div class="btn-group pull-right">
								<button class="btn btn-sm btn-primary"
									th:onclick="|liberaCamposParaEdicao('${despesa.id}', 'Despesa', 'Nome')|">Editar</button>
								<button class="delete btn btn-sm btn-danger"
									th:onclick="|excluir('${despesa.id}')|">Excluir</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer">
		<a class="btn btn-sm btn-danger" th:href="@{/}">Voltar</a>
		<button class="btn btn-sm btn-success"
			th:onclick="|criaLinhaInclusao('Despesa', 'Nome')|">
			Novo</a>
	</div>
</div>