<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Artesanato</title>
<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">

<script>
	var idAtual;

	function criaLinhaInclusao(...colunas) {
		if ($('#linhaNova'+colunas[0]).length == 0) {
			$('#tabela'+colunas[0]).prepend(criaLinha('Inclusao', ...colunas));
		}
		$('#input'+colunas[0]+colunas[1]+'Novo').focus();
	}

	function criaLinha(operacao, ...colunas) {
		let linha = document.createElement('tr');
		linha.setAttribute('id', 'linhaNova'+colunas[0]);
		
		for(let i = 1; i < colunas.length; i++) 
			linha.appendChild(criaColuna(colunas[0], colunas[i]));

		let colBtn = document.createElement('td');
		colBtn.appendChild(criaDivBotoes(operacao, colunas[0]));
		linha.appendChild(colBtn);

		return linha;
	}
	
	function criaColuna(objeto, campo) {
		let colCampo = document.createElement('td');
		colCampo.appendChild(criaInput(objeto, campo));
		
		return colCampo;
	}

	function criaInput(objeto, campo) {
		let inputCampo = document.createElement('input');
		inputCampo.setAttribute('id', 'input' + campo + objeto + 'Novo');
		inputCampo.type = 'text';

		return inputCampo;
	}

	function criaDivBotoes(operacao, objeto) {
		let divBtns = document.createElement('div');
		divBtns.classList.add('btn-group', 'pull-right');

		if(operacao == 'Inclusao')
			divBtns.appendChild(criaBotaoAdicionar(objeto));		
		else 
			divBtns.appendChild(criaBotaoAlterar(objeto));
		
		divBtns.appendChild(criaBotaoCancelar(objeto));

		return divBtns;
	}

	function criaBotaoAdicionar(objeto) {
		let button = document.createElement('button');
		button.classList.add('btn', 'btn-sm', 'btn-primary');
		button.setAttribute('id', 'idBtnIncluir'+objeto+'Novo');
		button.innerHTML = 'Incluir';
		button.onclick = function() {;
			adicionar(objeto);
		}

		return button;
	}
	
	function criaBotaoAlterar(objeto) {
		let button = document.createElement('button');
		button.classList.add('btn', 'btn-sm', 'btn-primary');
		button.setAttribute('id', 'idBtnAlterar'+objeto+'Novo');
		button.innerHTML = 'Alterar';
		button.onclick = function() {
			alterar(objeto);
		}
		
		return button;
	}

	function criaBotaoCancelar(objeto) {
		let button = document.createElement('button');
		button.classList.add('btn', 'btn-sm', 'delete', 'btn-danger');
		button.setAttribute('id', 'idBtnCancelar'+objeto+'Novo');
		button.innerHTML = 'Cancelar';
		button.onclick = function() {
			cancelar(objeto);
		}
		return button;
	}
	
	function adicionar(objeto) {
		switch(objeto) {
		case 'Peca':
			adicionarPeca();
		}
	}
	
	function alterar(objeto) {
		switch(objeto) {
		case 'Peca':
			alterarPeca();
		}
	}
	
	function cancelar(objeto) {
		
		//Implementar outras
		window.location = '/';
	}
	
	function liberaCamposParaEdicao(objetoId, ...colunas) {
		let obj = colunas[0].toLowerCase();			
		idAtual = $('#'+obj+'Id_'+objetoId).val();	
		let campos = [];
		
		for(var i = 1; i < colunas.length; i++) {
			campos[i] = $('#'+obj+colunas[i]+'_'+objetoId).text();
			console.log(campos[i]);
		}
		
 		criaLinhaAlteracao(objetoId, ...colunas); 		
 		preencheCamposNovaLinha(campos, ...colunas);
	}
	
	function preencheCamposNovaLinha(campos, ...colunas) {
		for(var i = 1; i < colunas.length; i++) {
			$('#input'+colunas[0]+colunas[i]+'Novo').val(campos[i]);		
		}
	}
	
	function criaLinhaAlteracao(objetoId, ...colunas) {		
		let obj = colunas[0].toLowerCase();
		
		if($('#linhaNova'+colunas[0]).length == 0) {
			$('#'+obj+colunas[1]+'_'+objetoId).parent().replaceWith(criaLinha('Alteracao', ...colunas));
		}
		$('#input'+colunas[1]+'Novo').focus();
	}
	
	function alterarPeca() {
		var dadosRequest = preencheCamposPecaRequest();
		
		$.ajax({
			method:'POST',
			url: '/alteraPeca',
			data: {
				"id":dadosRequest['id'], 
				"nome" : dadosRequest['nome'],
				"descricao" : dadosRequest['descricao'],
				"hrsProducao" : dadosRequest['hrsProducao'],
				"pctLucro" : dadosRequest['pctLucro']
			},
			success: (function(response) {
				window.location = '/';
			})
		})
	}

	function adicionarPeca() {
		var dadosRequest = preencheCamposPecaRequest();

		$.ajax({
			method : 'POST',
			url : '/salvaPeca',
			data : {
				"nome" : dadosRequest['nome'],
				"descricao" : dadosRequest['descricao'],
				"hrsProducao" : dadosRequest['hrsProducao'],
				"pctLucro" : dadosRequest['pctLucro']
			},
			success : (function(response) {
				window.location = '/';
			})
		})
	}
	
	function excluir(objetoId) {
		$.ajax({
			method:'GET',
			url: '/delete/'+objetoId,
			success: (function(response) {
				window.location = '/';
			})
		})
	}

	function preencheCamposPecaRequest() {
		var dados = {};
		dados['id'] = idAtual;
		dados['nome'] = $('#inputNomePecaNovo').val();
		dados['descricao'] = $('#inputDescricaoPecaNovo').val();
		dados['hrsProducao'] = $('#inputHrsProducaoPecaNovo').val();
		dados['pctLucro'] = $('#inputPctLucroPecaNovo').val();

		return dados;
	}
</script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#"> <img
			src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30"
			height="30" class="d-inline-block align-top" alt=""> Bootstrap
		</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/material">Materiais</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Features</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
			</ul>
		</div>
	</nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Minhas Peças teste</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-sm table-striped table-hover table-responsive">
								<thead>
									<tr>
										<th scope="col">Nome da Peça</th>
										<th scope="col">Descrição</th>
										<th scope="col">Horas de Produção</th>
										<th scope="col">% de Lucro</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="tabelaPeca">
									<tr th:each="peca : ${pecas}">
										<input th:type="hidden" th:id="'pecaId_'+${peca.id}" th:value="${peca.id}" />
										<td th:id="'pecaNome_'+${peca.id}" th:text="${peca.nome}"></td>
										<td th:id="'pecaDescricao_'+${peca.id}" th:text="${peca.descricao}"></td>
										<td th:id="'pecaHrsProducao_'+${peca.id}" th:text="${peca.hrsProducao}"></td>
										<td th:id="'pecaPctLucro_'+${peca.id}" th:text="${peca.pctLucro}"></td>
										<td>
											<div class="btn-group pull-right">
												<button class="btn btn-sm btn-primary" th:onclick="|liberaCamposParaEdicao('${peca.id}', 'Peca', 'Nome', 'Descricao', 'HrsProducao', 'PctLucro')|">Editar</button>
												<button class="delete btn btn-sm btn-danger" th:onclick="|excluir('${peca.id}')|">Excluir</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel-footer">
						<button class="btn btn-sm btn-success"
							th:onclick="|criaLinhaInclusao('Peca', 'Nome', 'Descricao', 'HrsProducao', 'PctLucro')|">
							Novo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Materiais da Peça</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-sm table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>Nome do material</th>
										<th>Qtd. utilizada</th>
										<th>Unidade de Medida</th>
										<th>Valor por Peça</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="tabelaPecas">
									<tr th:each="peca : ${pecas}">
										<!-- 							<input th:type="hidden" th:id="'materialId_'+${material.id}" th:value="${material.id}" /> -->
										<td th:id="'pecaNome_'+${peca.id}" th:text="${peca.nome}"></td>
										<td th:id="'pecaDescricao_'+${peca.id}"
											th:text="${peca.descricao}"></td>
										<td th:id="'pecaHrsProducao_'+${peca.id}"
											th:text="${peca.hrsProducao}"></td>
										<td th:id="'pecaPctLucro_'+${peca.id}"
											th:text="${peca.pctLucro}"></td>
										<td>
											<div class="btn-group pull-right">
												<button class="btn btn-sm btn-primary">Editar</button>
												<button class="delete btn btn-sm btn-danger">Excluir</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel-footer">
						<button class="btn btn-sm btn-success"
							th:onclick="|criaLinhaInclusao()|">
							Novo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>